#Data Structures

1. What are data structures, and why are they important?
   - Data structures are ways of organizing and storing data efficiently. They are important because they allow for fast data retrieval, modification, and management, which improves performance in algorithms and software applications.

2.  Explain the difference between mutable and immutable data types with examples?
    - Mutable data types can be changed after creation (e.g., lists, dictionaries). Immutable data types cannot be changed once created (e.g., strings, tuples).

  Example:

  Mutable: list1 = [1, 2, 3] (can modify list1)
  Immutable: str1 = "hello" (cannot modify str1 directly)

3. What are the main differences between lists and tuples in Python?
   -   **Mutability**: Lists are **mutable**, tuples are **immutable**.
  - **Syntax**: Lists use '[ ]', tuples use '( )`.
  - **Performance**: Tuples are faster than lists.
  - **Methods**: Lists have more methods, tuples have fewer.

4. Describe how dictionaries store data.
   - Dictionaries store data as key-value pairs, where each unique key maps to a value. They allow fast lookups using the key.

5. Why might you use a set instead of a list in Python?
   - You'd use a set instead of a list when you need **unique elements** and faster membership checks, as sets automatically remove duplicates and allow quicker lookups.

6. What is a string in Python, and how is it different from a list?
   - A **string** is a sequence of characters, while a **list** is a collection of items. Strings are **immutable**, and lists are **mutable**.

7. How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity by being **immutable**, meaning their contents cannot be changed once created, preventing accidental modifications.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A **hash table** is a data structure that stores key-value pairs using a hash function for fast lookups. In Python, **dictionaries** are implemented using hash tables for efficient key-based access.

9. Can lists contain different data types in Python?
   - Yes, lists can contain different data types in Python3. For example, a list can have integers, strings, and other objects together.

10. Explain why strings are immutable in Python?
    - Strings are immutable in Python to ensure efficiency, security, and consistency, preventing accidental changes to string data.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries offer faster lookups by key, while lists require sequential search.

12. Describe a scenario where using a tuple would be preferable over a list?
    - Use a tuple when data should not change (immutable) or for better performance in read-only operations.

13. How do sets handle duplicate values in Python?
    - Sets automatically remove duplicates; only unique values are stored.


14. How does the “in” keyword work differently for lists and dictionaries?
    - The “in” keyword in lists checks for values, while in dictionaries, it checks for keys.


15. Can you modify the elements of a tuple? Explain why or why not?
    - You cannot modify a tuple because it's immutable.


16.  What is a nested dictionary, and give an example of its use case?
     - A nested dictionary is a dictionary inside another dictionary. Example: {'person': {'name': 'Alice'}}. Use case: hierarchical data like configurations.


17. Describe the time complexity of accessing elements in a dictionary?
    - Accessing dictionary elements has O(1) average time complexity.


18.  In what situations are lists preferred over dictionaries?
     - Lists are preferred when order matters or you need duplicate values.


19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
     - Dictionaries are unordered because they use hash tables; order of items is not guaranteed.


20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - In a list, data is retrieved by index; in a dictionary, it's retrieved by key.

In [ ]:
#1. Write a code to create a string with your name and print it.

str="Divyansh"
print(str)

Divyansh

In [ ]:
#2. Write a code to find the length of the string "Hello World"

str="Hello World"
print(len(str))

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"

str="Python Programming"
str[0:3]
str1="Divyansh"
str1[0:5]

'Divya'

In [ ]:
#4. Write a code to convert the string "hello" to uppercase

str="hello"
str.upper()

'HELLO'

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

str="I like apple"
str.replace("apple","orange")

'I like orange'

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it

lis=[1,2,3,4,5]
for i in lis:
  print(i)

1
2
3
4
5

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]

lis=[1,2,3,4]
lis.append(10)
lis

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

lis=[1,2,3,4,5]
lis.remove(3)
lis

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

lis=['a','b','c','d']
lis[1]

'b'

In [ ]:
#10.  Write a code to reverse the list [10, 20, 30, 40, 50].

lis=[10,20,30,40,50]
lis.reverse()
lis

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

t=(100,200,300)
for i in t:
  print(i,end=" ")

100 200 300

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

t=('red', 'green', 'blue', 'yellow')
t[-2]

'blue'

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

t=(10, 20, 5, 15)
print(min(t))

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t=('dog', 'cat', 'rabbit')
t.index("cat")

1

In [ ]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

t=("mango","kiwi","apple")
"kiwi" in t

True

In [ ]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set={'a','b','c'}
print(my_set)

{'c', 'b', 'a'}

In [ ]:
#17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set={1,2,3,4,5}
my_set.clear()
my_set

set()

In [ ]:
#18  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set={1,2,3,4}
my_set.remove(4)
my_set

{1, 2, 3}

In [ ]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1={1,2,3}
set2={3,4,5}
union_set=set1.union(set2)
union_set

{1, 2, 3, 4, 5}

In [ ]:
#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1={1,2,3}
set2={2,3,4}
intersection_set=set1.intersection(set2)
intersection_set

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict={"name":"Divyansh","age":21,"city":"Jaipur"}
print(my_dict)

{'name': 'Divyansh', 'age': 21, 'city': 'Jaipur'}

In [ ]:
#22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict={"name":"John","age":25}
my_dict["country"]="USA"
my_dict

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict={'name': 'Alice', 'age': 30}
my_dict['name']

'Alice'

In [ ]:
#24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

my_dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
my_dict

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict={'name': 'Alice', 'city': 'Paris'}
'city' in my_dict

True

In [ ]:
#26  Write a code to create a list, a tuple, and a dictionary, and print them all

# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'John', 'age': 30, 'city': 'New York'}

# Printing the list, tuple, and dictionary
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

In [ ]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

lis=[3,55,43,12,77]
lis.sort()
lis

[3, 12, 43, 55, 77]

In [ ]:
#28.  Write a code to create a list with strings and print the element at the third index.

my_lis=["mango","apple","banana","papita","orange"]
my_lis[3]

'papita'

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.

dict_1={"name":"Divyansh","age":21}
dict_2={"roll_no":21,"gender":"male"}
dict_1.update(dict_2)
dict_1

{'name': 'Divyansh', 'age': 21, 'roll_no': 21, 'gender': 'male'}

In [ ]:
#30. Write a code to convert a list of strings into a set.

my_lis=["mango","apple","banana","papita","orange"]
set(my_lis)

{'apple', 'banana', 'mango', 'orange', 'papita'}